html{
	background-color: $color-grey_Xdark;
}

/* .portletRow:not(.portletRow1) { // portletrow1 is the slider's wrapper
	background-color: white
} */

.portletWindowBackground {
  border: 0;
  background-image: none;
  background-color: #aaa;

  a[href*="annual_report.shtml"] {
    @extend .special_button;
    font-size: 1.3em;
  }
}

// Need to be really specific else it affects hrs everywhere
#ccp-body-home{
 .portletWindowBackground hr {
    width: 110%;
    height: 16px;
    margin-left: -5%;
    margin-bottom: 1em;
    background-color: white;
  }
}
