html{
	background-color: $color-grey_Xdark;
}

/* .portletRow:not(.portletRow1) { // portletrow1 is the slider's wrapper
	background-color: white
} */

.portletWindowBackground {
  border: 0;
  background-image: none;
  background-color: #aaa;
}
