.ccp-page-body {

  .ccp-container {
    _height: 1%;
    width: 100%;
    _width: 1024px;
    min-width: none;
    max-width: 100%;

    .ccp-body {
      @include maxWidth(80);
      padding: 40px 46px 0 34px;
      background-color: #f2f2f2;

      .portletbody {
        background-color: white;
      }
    }// body
  }
}

.center {
  @extend %center;
}

.plainportletColumn1,
.mainportletColumn1 {
  padding-left: 24px
}

.portalContainer,
.portletTable,
.portletRow  {
  @include maxWidth(80);
}

.oneportletColumn {
  display: block;
}


.clear,
.widget-footer-contact:after{
	@extend %clearfix
}

.float--left {
  float: left;
  padding-right: 2em;
}
.float--right {
  float: right;
  padding-left: 2em;

}
