@include font-face(League-Gothic);
@include font-face(Lato-Light);
@include font-face(Lato-Regular);
@include font-face(icons);


body {
  font-family: $font-body;

  //nested so as to increase specificity
  a {
    color: #296dd1;

    &:hover {
      color: #7bb7cd;
    }
  }
}

h1,
h2 {
  text-transform: uppercase;
}

h1,
h2,
h3 {
  font-family: $font-headings;
}

h4,
h5,
h5 {
  font-family: $font-body_alt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-smoothing(antialiased);
  @include transform(translate3d(0, 0, 0));
  font-weight: 100;
  color: $color-headings;

  ol &,
  ul & {
    font-size: 1.3em;
  }
}

strong {
  font-family: $font-body_alt;
}

.portletWrapper {
  h2 {
    @extend .delta;
  }
}

.portlet-section-body {
  h1 {
    @extend .gamma;
  }
}

.vcard {
  h2 {
    @extend .gamma;

    span {
      font-size: 0.4em !important;
      // @extend %reset-bebas;

    }
  }
}

.text--center {
  text-align: center;
}


