.ccp-body {

  #ccp-body-annual_report & {
    background-color: $color-grey_Xdark;
  }

}

.ar {
  @include e(wrapper) {
    .Xlight {
      margin-bottom: 1em;
      padding: 2em 1em 0.1em;
      background-color: $color-secondary;

      * {
        color: white !important;
      }


      a {
        text-decoration: underline;
      }
    }

    .primary {
      margin-top: 2em;
      padding: 3em 1em 0em;
      background-color: $color-primary;
    }

    hr {
      margin: 1em auto;
      border: 1px inset gray;
    }
  }// ar--wapper
}// ar
