.ar {
  @include element(wrapper) {
    font-size: 16px;
    color: white;


    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 0.6em;
    }

    .seperate {
      margin-bottom: 2.5em;
    }

    h1 {
      color: $color-secondary_light;
      font-size: 54px;
      font-size: (54 / 18) * 1rem;
      small {
        display: block;
        color: $color-grey;
        font-size: 50%;
        text-transform: none;
      }

    }

    h2 {
      font-size: 38px;
      font-size: (38 / 18) * 1rem;
    }

    h2, h3, h4, h5, h6 {
      color: inherit;
    }

    .smallish {
      font-size: 85%;
    }

    p,
    blockquote {
      margin-bottom: 2.5em;
      letter-spacing: 0.5px;
    }

    blockquote {
      margin: 0 0 3em;
      padding: 2em 3.5em 1em;
      background-color: $color-primary_dark;
      font-size: 20px;
      line-height: 1.5;
      color: white;

      @include border-radius(5px);
      @include box-shadow(0 0 0 2px $color-primary_Xdark inset);

      p {
        @include pull-quotes(111px, 0.3, white);
      }
      /* a {
        color: white !important;
        text-decoration: underline;
      } */
    }// blockquote

    p {
     &+ ul,
     &+ ol {
      margin-top: -2em;
      }
    }
    .cite {
      display: block;
      margin-top: 1em;
      font-size: 0.8em;
      text-align: right;
    }
    .lead {
      margin-bottom: 1.4em;
      font-size: 24px;
      font-size: (24 / 18) * 1rem;
      line-height: 1.4;

      &.smallish {// because fucking client
        font-size: 20px;
        font-size: (20 / 18) * 1rem;
      }
    }

    a {
      color: white;
      text-decoration: underline;

      .ar__wrapper--white & {
        color: $color-text
      }
      &:hover {
        color: #7bb7cd;
      }
    }

    .highlight {
      color: $color-primary !important;
    }
    .lowlight {
      color: $color-secondary_light;
    }

    .header--main {
      @extend .highlight;
      @extend .giga;
      @extend .text--center;
    }
    pre {
      font-family: $font-body !important;
    }

  }// wrapper

}// ar

.link--toTop {
    @extend .grid__item;
    @extend .one-whole;
    // @extend .text--center;
    margin-top: -3.5em;
    margin-bottom: 2em;
    padding-top: 2em;
    color: #888 !important;
    font-family: $font-body_alt;
    font-size: 16px;

    &:after {
      content: "\2003 \2191";
    }

    &:hover {
      color: $color-secondary_light;
    }

    .header--main + & {
      text-align: center;
      margin-top: -2em;
    }
  }// link--toTop
