.ar {
  @include e(wrapper) {
    @extend %clearfix;
    margin-left: 0;
    margin-bottom: 3em;
    width: 100%;

    .icon__wrapper {
      height: 140px; // create consitency
      text-align: center;

      img {
        margin: 0 auto;
      }
    }

    @include m(white) {
      @extend .ar__wrapper;
      padding-top: 1em;
      background-color: white;

      p,
      h2, h3, h4, h5, h6,
      li {
        color: $color-text !important;
      }
      p,
      ol,
      ul {
        font-family: $font-body_alt;
      }
      strong {
        color: $color-secondary;
      }
    }//ar__wrapper--white

    @include m(blockquote) {
      display: table;

      blockquote,
      .figure {
        display: table-cell;
      }

      .figure {
        overflow: hidden;

        img {
          max-width: none;
          min-width: 100%;
          width: 130%;
        }
      }// fig
    }// ar__wrapper--blockquote

  }// wrapper


  @include e(nav) {
    @extend .grid__item;
    width: 31%;
    min-height: 363px;
    margin-right: 20px;
    padding-left: 0;
    background-color: $color-secondary;

    @include border-radius(5px);

    .nav-link__wrapper {
      padding: 0.8em;
      display: block;
      border-top: 1px solid $color-secondary_dark;
      border-bottom: 1px solid $color-secondary_dark;

    }

    .nav-link {
      padding-bottom: 0.2em;
      display: block;
      font-family: $font-body;
      font-size: 1.3em;
      line-height: 1.2;
      color: white;
    }

    .nav-link--sub {
      padding: 0 0 0 0.5em;
      display: block;
      font-size: 1.1em;
      line-height: 1.4;
    }

  } // nav
  @include e(section) {
    @extend .grid__item;
  }// section
}// ar


.bkg-img {
  padding-top: 1em;
  padding-right: 1em;
  background-position: center center;
  background-size: cover;
}

.bkg-img--1 {
  background-image: url(../img/bkg-img-1.jpg);
}

.bkg-img--2 {
  background-image: url(../img/bkg-img-2.jpg);
}


#ccp-body-annual-report {
  .portalContainer,
  .portletTable,
  .portletRow,
  .ccp-body {
    @include maxWidth;
  }

  .ccp-body {
    padding-left: 0;
    padding-right: 0;
  }
}

//these are little margin-top magic number hacks
.mt0  {margin-top: 0  ;}
.mt1  {margin-top: 1px;}
.mt2  {margin-top: 2px;}
.mt3  {margin-top: 3px;}
.mt4  {margin-top: 4px;}
.mt5  {margin-top: 5px;}
.mt6  {margin-top: 6px;}
.mt7  {margin-top: 7px;}
.mt8  {margin-top: 8px;}
.mt9  {margin-top: 9px;}
.mt10 {margin-top: 10px;}
.mt15 {margin-top: 15px;}
.mt20 {margin-top: 20px;}
.mt30 {margin-top: 30px;}
.mt40 {margin-top: 40px;}
.mt50 {margin-top: 50px;}
.mt75 {margin-top: 75px;}
.mt100  {margin-top: 100px;}
.mt150  {margin-top: 150px;}
.mt200  {margin-top: 200px;}
