.ar {
  @include e(wrapper) {
    @extend %clearfix;
    margin-left: 0;
    margin-bottom: 3em;
    width: 100%;

    .icon__wrapper {
      height: 140px; // create consitency
      text-align: center;

      img {
        margin: 0 auto;
      }
    }

    @include m(white) {
      @extend .ar__wrapper;
      padding-top: 1em;
      background-color: white;

      p,
      h2, h3, h4, h5, h6,
      li {
        color: $color-text !important;
      }
      p,
      ol,
      ul {
        font-family: $font-body_alt;
      }
      strong {
        color: $color-secondary;
      }
    }//ar__wrapper--white

    @include m(blockquote) {
      display: table;

      blockquote,
      figure {
        display: table-cell;
      }

      figure {
        overflow: hidden;

        img {
          max-width: none;
          min-width: 100%;
          width: 130%;
        }
      }// fig
    }// ar__wrapper--blockquote

  }// wrapper


  @include e(nav) {
    @extend .grid__item;

    padding-left: 0;
    background-color: $color-secondary;

    @include border-radius(5px);

    .nav-link__wrapper {
      padding: 1em;
      display: block;
      border-top: 1px solid $color-secondary_dark;
      border-bottom: 1px solid $color-secondary_dark;
    }

    .nav-link {
      padding-bottom: 0.2em;
      display: block;
      font-family: $font-body;
      font-size: 1.3em;
      line-height: 1.2;
      color: white;
    }

    .nav-link--sub {
      padding: 0 0 0 0.5em;
      display: block;
    }

  } // nav
  @include e(section) {
    @extend .grid__item;
  }// section
}// ar


.bkg-img {
  padding-top: 1em;
  padding-right: 1em;
  background-position: center center;
  background-size: cover;
}

.bkg-img--1 {
  background-image: url(../img/bkg-img-1.jpg);
}

.bkg-img--2 {
  background-image: url(../img/bkg-img-2.jpg);
}


#ccp-body-annual-report {
  .portalContainer,
  .portletTable,
  .portletRow,
  .ccp-body {
    @include maxWidth;
  }

  .ccp-body {
    padding-left: 0;
    padding-right: 0;
  }
}
