.ccp-body {

  #ccp-body-annual-report & {
    background-color: $color-grey_Xdark;
  }

}

.ar {
  @include e(wrapper) {
    .Xlight {
      margin-bottom: 1em;
      padding: 2em 1em 0em;
      background-color: $color-secondary_Xlight;
      border: 1px solid $color-secondary_light;

      a {
        color: $color-text !important;
        text-decoration: underline;
      }
    }

    .primary {
      margin-top: 2em;
      padding: 3em 1em 0em;
      background-color: $color-primary;
    }

    hr {
      width: 80%;
      margin-bottom: 3em;
      border: 1px inset gray;
    }
  }// ar--wapper
}// ar
