.ar {
  @include element(wrapper) {
    font-size: 16px;
    color: white;


    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 0.6em;
    }

    .seperate {
      margin-bottom: 2.5em;
    }

    h1 {
      color: $color-secondary_light;
      font-size: 70px;
      font-size: (70 / 16) * 1rem;
      small {
        display: block;
        color: $color-grey;
        font-size: 50%;
        text-transform: none;
      }
    }

    h2, h3, h4, h5, h6 {
      color: inherit;
    }
    p,
    blockquote {
      margin-bottom: 2.5em;
      letter-spacing: 0.5px;
    }

    blockquote {
      margin: 0 0 3em;
      padding: 2em 3.5em 1em;
      background-color: $color-primary_dark;
      font-size: 20px;
      line-height: 1.5;
      color: white;

      @include pull-quotes(111px, 0.3, white);
      @include border-radius(5px);
      @include box-shadow(0 0 0 2px $color-primary_Xdark inset);

      a {
        color: white !important;
        text-decoration: underline;
      }
    }// blockquote

    p {
     &+ ul,
     &+ ol {
      margin-top: -2em;
      }
    }
    .cite {
      display: block;
      margin-top: 1em;
      font-size: 0.8em;
      text-align: right;
    }
    .lead {
      margin-bottom: 1.4em;
      font-size: 24px;
      font-size: (24 / 16) * 1rem;
      line-height: 1.4;
    }

    a {
      color: $color-secondary_light;
    }

    .highlight {
      color: $color-primary;
    }
    .lowlight {
      color: $color-secondary;
    }

    .header--main {
      // @extend .highlight;
      @extend .giga;
      @extend .text--center;
    }
    pre {
      font-family: $font-body !important;
    }

  }// wrapper

}// ar

.link--toTop {
    @extend .grid__item;
    @extend .one-whole;
    @extend .text--center;
    margin-bottom: 2em;
    padding-top: 2em;
    color: #888 !important;
    font-size: 16px;

    &:after {
      content: "\2003 \2003 \2191";
    }
  }// link--toTop
